@model FinalExam413_zm275.Models.Entertainers

@{
    ViewData["Title"] = "EntertainerCreate";
}

<h1>EntertainerCreate</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EntertainerCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntertainerId" class="control-label"></label>
                <input asp-for="EntertainerId" class="form-control" />
                <span asp-validation-for="EntertainerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntStageName" class="control-label"></label>
                <input asp-for="EntStageName" class="form-control" />
                <span asp-validation-for="EntStageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntSsn" class="control-label"></label>
                <input asp-for="EntSsn" class="form-control" />
                <span asp-validation-for="EntSsn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntStreetAddress" class="control-label"></label>
                <input asp-for="EntStreetAddress" class="form-control" />
                <span asp-validation-for="EntStreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntCity" class="control-label"></label>
                <input asp-for="EntCity" class="form-control" />
                <span asp-validation-for="EntCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntState" class="control-label"></label>
                <input asp-for="EntState" class="form-control" />
                <span asp-validation-for="EntState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntZipCode" class="control-label"></label>
                <input asp-for="EntZipCode" class="form-control" />
                <span asp-validation-for="EntZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntPhoneNumber" class="control-label"></label>
                <input asp-for="EntPhoneNumber" class="form-control" />
                <span asp-validation-for="EntPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntWebPage" class="control-label"></label>
                <input asp-for="EntWebPage" class="form-control" />
                <span asp-validation-for="EntWebPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntEmailAddress" class="control-label"></label>
                <input asp-for="EntEmailAddress" class="form-control" />
                <span asp-validation-for="EntEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEntered" class="control-label"></label>
                <input asp-for="DateEntered" class="form-control" />
                <span asp-validation-for="DateEntered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Entertainers">Back to List</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
