@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="justify-content-md-center">
        <h1>Welcome to XYZ Entertainment Agency</h1>
        <p>Thank you for visiting our website. We provide a wide range of entertainment options for your events, from live music to dance performances and more.</p>
        <p>Explore our website to learn more about our services and book your entertainment today!</p>
        <a asp-controller="Home" asp-action="Entertainers" class="btn btn-primary">View Entertainers</a>
    </div>
</div>
